<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext_title }}</p>

{% schema %}
{
    "name": "Template 404",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "404 Heading Title",
            "default": "404"
        },
        {
            "type": "text",
            "id": "subtext_title",
            "label": "404 Subtext Title",
            "default": "<p>Sorry, the page you are looking for does not exist.</p>"
        }    
    ]
}
{% endschema %}
